<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Advert info</title>
    <style>
        .carousel {
            padding-top: 50px;
            width: 600px;
            height: 400px;
        }

        h2 {
            text-align: center;
        }

        h6 {
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .bord {
            padding-top: 50px;
        }
    </style>
</head>
<body>
<div>
    <div th:insert="header :: head">
    </div>
</div>
<div class="mt-4 p-5 bg-secondary text-white">
    <h2 th:text="${advert.get().getName()}"></h2>
</div>
<div class="row justify-content-around">
    <div class="col-4">
        <div id="demo" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active"
                     th:each="image, iStat: ${advert.get().getAllImages()}">
                    <img th:src="@{${advert.get().getImagePath()} + '/' + ${image}}" class="d-block w-100">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>
    <div class="col-4 bord">
        <div class="card border-secondary mb-3" style="max-width: 18rem;">
            <div class="card-header">
                <h5 th:text="${advert.get().getUser().getName()}"></h5>
                <p class="text-muted dt-font-weight"
                   th:text="'(На сайті з ' + ${advert.get().getUser().getDateOfRegistration()} + ')'"></p>
            </div>
            <div class="card-body text-dark">
                <h5 th:text="${advert.get().getPrice()} + ' ' + грн" class="card-title"></h5>
                <h6 th:text="${advert.get().getCity().getName()}" class="card-text"></h6>
                <p sec:authorize="isAuthenticated()">
                    <strong th:text="${advert.get().getPhone()}" class="card-text"></strong>
                </p>
                <p th:text="${advert.get().getCategory().getName()}" class="card-text text-muted"></p>
                <div class="card-footer text-muted">
                    <p th:text="'Опубліковано ' + ${advert.get().getDateOfCreation()}" class="card-text"></p>
                </div>
                <div th:if="${bookUser == null and user != null}">
                    <div th:if="${user.getId() != advert.get().getUser().getId()}">
                        <form class="card text-center" th:action="@{|/advert/${advert.get().getId()}/book|}"
                              method="post">
                            <button class="btn btn-dark" type="submit">Бронювати</button>
                        </form>
                    </div>
                    <div th:if="${user.getId() == advert.get().getUser().getId()}">
                        <form class="card text-center" th:action="@{|/advert/${advert.get().getId()}/delete|}">
                            <button class="btn btn-warning" type="submit">Видалити оголошення</button>
                        </form>
                    </div>
                </div>
                <div th:if="${bookUser != null and user != null}">
                    <div th:if="${user.getId() == bookUser}">
                        <form class="card text-center" th:action="@{|/advert/${advert.get().getId()}/book/cancel|}">
                            <button class="btn btn-warning" type="submit">Скасувати бронювання</button>
                        </form>
                    </div>
                    <div th:if="${user.getId() != bookUser}">
                        <p class="text-warning card text-center bg-dark" th:text="'Зрезервовано: ' + ${name}"></p>
                    </div>
                </div>
                <div class="card text-center" th:if="${user == null}">
                    <p>Увійдіть на сайт, щоб забронювати</p>
                    <a th:href="@{/login}"
                       class="btn btn-success ">Увійти
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>