<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Advert info</title>
    <style>
        .carousel {
            margin: 20px;
            width: 600px;
            height: 400px;
        }

        p {
            padding: 10px;
            text-align: center;
        }

        h2 {
            text-align: center;
        }
    </style>
</head>
<body>
<div>
    <div th:insert="header :: head">
    </div>
</div>
<div class="mt-4 p-5 bg-secondary text-white">
    <h2 th:text="${advert.get().getName()}"></h2>
</div>
<div class="row justify-content-around">
    <div class="col-4">
        <div id="demo" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active"
                     th:each="image, iStat: ${advert.get().getAllImages()}">
                    <img th:src="@{${advert.get().getImagePath()} + '/' + ${image}}" class="d-block w-100">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
    </div>
    <div class="col-4">
        <p th:text="'Місто ' + ${advert.get().getCity().getName()}"></p>
        <p th:text="'Категорія ' + ${advert.get().getCategory().getName()}"></p>
        <p th:text="'Ціна ' + ${advert.get().getPrice()} + ' ' + грн"></p>
        <p th:text="'Користувач ' + ${advert.get().getUser().getName()} +
    ' (На сайті з ' + ${advert.get().getUser().getDateOfRegistration()} + ')'"></p>
        <p th:text="'Телефон ' + ${advert.get().getPhone()}"></p>
        <p th:text="'Опубліковано ' + ${advert.get().getDateOfCreation()}"></p>
        <div th:if="${advert.get().getBook() == null}">
            <p th:text="${advert.get().getBook()}"></p>
            <form th:action="@{|/advert/${advert.get().getId()}/book|}" method="post">
                <button class="btn btn-dark" type="submit">Бронювати</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>