<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Advert list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container mt-7">
    <h2 class= "text-center">Оголошення</h2>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>№</th>
            <th>Фото</th>
            <th>Назва товару</th>
            <th>Категорія</th>
            <th>Ціна</th>
            <th>Місто</th>
            <th>Телефон</th>
            <th>User</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="advert, iStat: ${adverts}">
            <td th:text="${iStat.index + 1}"></td>
            <td class="w-25">
                <img th:src="@{${advert.getPhotosImagePath()}}" class="img-fluid img-thumbnail"></td>
            <td th:text="${advert.getName()}"></td>
            <td th:text="${advert.category.getName()}"></td>
            <td th:text="${advert.getPrice()}"></td>
            <td th:text="${advert.city.getName()}"></td>
            <td th:text="${advert.getPhone()}"></td>
            <td th:text="${advert.user.getName()}"></td>
            <td>
                <a th:href="@{|/advert/${advert.getId()}/delete|}"
                   class="btn btn-danger">Видалити</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/create/advert}"
        class="btn btn-success">Створити оголошення</a>
</div>
</body>
</html>