<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Creating</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>Створити оголошення</h2>
<form action="#" th:action="@{/create/advert}" th:object="${advert}" method="post">
    <table>
        <tr>
            <td>
                <label for="advert-name">Назва товару:</label>
            </td>
            <td>
                <input type="text" th:field="*{name}" id="advert-name" />
            </td>
            <td>
                <label for="category">Категорія</label>
            </td>
            <td>
                <input type="text" th:field="*{category}" id="category" />
            </td>
            <td>
                <label for="price">Ціна</label>
            </td>
            <td>
                <input type="text" th:field="*{price}" id="price" />
            </td>
            <td>
                <label for="city">Місто</label>
            </td>
            <td>
                <input type="text" th:field="*{city}" id="city" />
            </td>
            <td>
                <label for="phone">Телефон</label>
            </td>
            <td>
                <input type="text" th:field="*{phone}" id="phone" />
            </td>
        </tr>
        <input type="submit" value="Зберегти" />
        <input type="reset" value="Очистити" />
    </table>
</form>
</body>
</html>