<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Creating</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>Створити оголошення</h2>
<form action="#" th:action="@{/create/advert}" th:object="${advert}" method="post">
    <table>
        <tr>
            <td>
                <label for="advert-name">Назва товару:</label>
            </td>
            <td>
                <input type="text" th:field="*{name}" id="advert-name" />
            </td>
            <td>
                <label for="category">Категорія</label>
            </td>
            <td>
                <select id="category" name="category" th:field="*{category}">
                  <span th:each="category : ${categories}">
                    <option th:text="${category.getName()}"
                            th:value="${category.getId()}"></option>
                  </span>
                </select>
            </td>
            <td>
                <label for="price">Ціна</label>
            </td>
            <td>
                <input type="text" th:field="*{price}" id="price" />
            </td>
            <td>
                <label for="city">Місто</label>
            </td>
            <td>
                <select id="city" name="city" th:field="*{city}">
                  <span th:each="city : ${cities}">
                    <option th:text="${city.getName()}"
                            th:value="${city.getId()}"></option>
                  </span>
                </select>
            </td>
            <td>
                <label for="phone">Телефон</label>
            </td>
            <td>
                <input type="text" th:field="*{phone}" id="phone" />
            </td>

<!--            <span id="user" name="user" th:field="*{user}"-->
<!--                            th:value="${user.getId()}">-->
<!--                  </span>-->


        </tr>
        <input type="submit" value="Зберегти" />
        <input type="reset" value="Очистити" />
    </table>
</form>
</body>
</html>