<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Advert list</title>
    <style>

        .price {
            text-align: right;
            font-weight: bold;
        }
    </style>
</head>
<body>
<div>
    <div th:insert="header :: head">
    </div>
</div>
<div class="container mt-7">
    <h2 class="text-center">Мої оголошення</h2>
    <br>
    <br>
    <table class="table table-striped">
        <thead>
        <tr>
        </tr>
        </thead>
        <tbody>
        <tr id="row-2" th:each="advert, iStat: ${adverts}">
            <td class="w-25">
<!--                <a th:href="@{/create/advert}" class="row-link">-->
                    <img th:src="@{${advert.getPhotosImagePath()}}" class="img-fluid img-thumbnail"></td>
            <td th:text="${advert.getName()}">

            <!--                <a th:href="@{/create/advert}" class="row-link">Палатка-->
            </td>
            <td th:text="${advert.category.getName()}"></td>
            <td th:text="${advert.city.getName()}"></td>
            <td class="price" th:text="${advert.getPrice()} + ' ' + грн"></td>
<!--            <td>-->
<!--                <a th:href="@{/create/advert}">Go somewhere</a>-->
<!--            </td>-->
        </tr>
        </tbody>
    </table>
    <a th:href="@{/create/advert}"
       class="btn btn-success">Створити оголошення</a>
</div>
<script>
    for (let i = 0; i < 5; i++) {

        const row = document.getElementById(`row-2`);
        row.addEventListener("click", () => {
            window.location.href = `/create/advert`;
        });
    }
</script>
</body>
</html>