<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
  <title>Registration</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form action="#" th:action="@{/register}" th:object="${user}" method="post">
  <label for="username">Username: </label>
  <input type="text" id="username" th:field="*{username}"><br/>
  <label for="name">Ім'я</label><br>
  <input type="text" id="name" th:field="*{name}"><br>
  <label for="lname">Прізвище</label><br>
  <input type="text" id="lname" th:field="*{surname}"><br>
  <label for="email">E-mail</label><br>
  <input type="email" id="email" th:field="*{email}"><br>
  <label for="password">Пароль</label><br>
  <input type="password" id="password" th:field="*{password}"><br>
  <label for="dateOfBirth">Дата народження</label><br>
  <input type="date" id="dateOfBirth" name="dateOfBirth" th:field="*{dateOfBirth}"><br>
    <label for="city">Виберіть Ваше місто:</label>
    <select id="city" name="city" th:field="*{city}">
      <span th:each="city : ${cities}">
        <option th:text="${city.getName()}"
                th:value="${city.getId()}"></option>
      </span>
    </select>
  <p><input type="submit" value="Register"></p>
</form>
</body>
</html>